@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light dark;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Onest", sans-serif;
}

body {
  position: relative;
  display: block;
  line-height: inherit;
}
html {
  scroll-behavior: smooth;
  line-height: 1.5;
}

.section {
  display: block;
  unicode-bidi: isolate;
}

h2 {
  @apply text-blue-500;
}
h3 {
  @apply text-gray-800 dark:text-gray-100;
}
@layer utilities {
  .theme-menu {
    @apply hidden absolute top-10 right-0 bg-white dark:bg-gray-900 shadow-lg p-2 rounded-md border border-gray-200 dark:border-gray-700 transition-opacity duration-300;
  }
  .theme-menu.show {
    @apply block opacity-100;
  }
}
