@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0a0a0a;
  color: #f3f4f6;
}
.section {
  display: block;
  unicode-bidi: isolate;
}
body {
  position: relative;
  display: block;
  line-height: inherit;
}
html {
  scroll-behavior: smooth;
}
